body {
  background: radial-gradient(circle, #cbc3c3, 0.06em, transparent 0.06em);
  background-size: 0.8em 0.8em;
  background-color: rgb(130, 156, 169);
}

.canvas{
  height: '500px';
  width: '100%';
  text-align: 'center';
}