/* Property/NTLM Mediator Panel. -> Value */
.small-text {
  width: 42px; /* Adjust the font size as needed */
  background-color: #3a9bdc;
}
.small-text::placeholder {
  color: black;
}
.large-space {
  margin-bottom: 20px; /* Adjust the margin size as needed */
}

.modal-dialog {
  max-width: 300px !important; /* Set your desired width here */
  width: 75% !important;
  margin: 1.75rem auto;
  background-color: #5e6164 !important;
  font-size: 12px !important;
}

.text-primary {
  font-size: 15px !important;
}

.text-secondary {
  text-align: center !important;
  margin-bottom: 8px !important;
  font-size: 14px !important;
}

.custom-question-icon {
  margin-left: 10px !important;
  cursor: pointer !important;
}

.custom-form-control {
  font-size: 12px !important;
}

.checkbox {
  display: flex !important;
  align-items: center !important;
}

.checkbox-font{
  margin-left: 10px !important;
}
